* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-image: url(home\ background\ 1600\ x\ 984.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* BANNER _______________________________ */

.banner {
    height: 100vh;
    background-color: rgba(0, 0, 0, 40%);
}

.banner-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 3;
    height: 8vh;
    width: 100%;
    background-color: rgba(41, 41, 41, 70%);
}

.banner-navigation ul {
    display: flex;
    list-style: none;
}

.banner-references {
    margin-right: 70px;
}

.banner-references a {
    margin-right: 100;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.banner-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.banner-description p {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.banner-description .description-name {
    width: 100%;
    padding: 20px 15px 15px 15px;
    background-color: rgb(239, 199, 50);
    text-align: center;
    font-size: 45px;
    font-family: 'Overpass', sans-serif;
}

.banner-person {
    position: absolute;
    right: 150px;
    bottom: 0;
    z-index: 2;
    height: 100vh;
}

.banner-rectangle {
    position: absolute;
    top: -160px;
    right: 180px;
    z-index: 1;
    transform: rotate(13deg);
    height: 1300px;
    width: 64vh;
    background-color: rgba(217, 217, 217, 46%);
}

/* ABOUT ME __________________________ */

.about {
    position: relative;
    z-index: 2;
    height: 100vh;
    width: 100%;
    background-color: rgba(41, 41, 41, 100%);
}

.about-heder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25vh;
}

.header-square {
    margin-left: 50px;
    height: 80px;
    width: 80px;
    border: solid rgb(239, 199, 50) 13px;
}

.heder-name {
    margin-left: -40px;
    padding: 5px 0 5px 0;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: rgba(41, 41, 41, 100%);
}

.description-container {
    display: flex;
}

.about-description {
    margin: 4vh 0 0 5vw;
    width: 40vw;
}

.description-welcome {
    margin-bottom: 40px;
    color: rgb(239, 199, 50);
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
}

.description-content {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: 'Overpass', sans-serif;
}

.about-person {
    position: absolute;
    top: 20vh;
    right: 14vw;
}

.person-frame {
    transform: rotate(-74deg);
    height: 60vh;
    width: 60vh;
    border: 10px solid rgb(239, 199, 50);
    box-shadow: -4px 4px 10px white;
}

.person-image {
    height: 60vh;
    transform: rotate(74deg);
}

/* FOOTER __________________________ */

.footer {
    display: flex;
    justify-content: space-around;
    aligSn-items: flex-start;
    height: 40vh;
    width: 100%;
    background-color: rgb(3, 3, 3);
}

.footer section {
    margin-top: 10vh;
    width: 20%;
}

.nav-header, .email-header {
    margin-bottom: 3vh;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav-reference ul li {
    list-style: none;
    margin-bottom: 1vh;
 }

.nav-reference ul li a, .email-adress, .inscription {
   display: flex;
   color: white;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    width: 20px;
}