* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 300vh;
    background-image: url(home\ background\ 1600\ x\ 984.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* BANNER _______________________________ */

.banner {
    height: 100vh;
    background-color: rgba(0, 0, 0, 40%);
}

.banner-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    z-index: 3;
    height: 8vh;
    width: 100%;
    background-color: rgba(41, 41, 41, 70%);
}

.banner-navigation ul {
    display: flex;
    list-style: none;
}

.banner-references {
    margin-right: 70px;
}

.banner-references a {
    margin-right: 100;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.banner-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
    width: 40%;
    height: 100%;
    margin-left: 5vw;
}

.banner-description p {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.banner-description .description-name {
    width: 100%;
    padding: 20px 15px 15px 15px;
    background-color: rgb(239, 199, 50);
    text-align: center;
    font-size: 45px;
    font-family: 'Overpass', sans-serif;
}

.banner-person {
    position: absolute;
    right: 150px;
    bottom: 0;
    z-index: 2;
    height: 100vh;
}

.banner-rectangle {
    position: absolute;
    top: -160px;
    right: 180px;
    z-index: 1;
    transform: rotate(13deg);
    height: 1300px;
    width: 64vh;
    background-color: rgba(217, 217, 217, 46%);
}

/* ABOUT ME __________________________ */

.about {
    position: absolute;
    z-index: 2;
    height: 100vh;
    background-color: rgba(41, 41, 41, 100%);
}

.about-heder {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 25vh;
}

.header-square {
    margin-left: 50px;
    height: 110px;
    width: 110px;
    border: solid rgb(239, 199, 50) 13px;
}

.heder-name {
    margin-left: -60px;
    padding: 12px 0 12px 0;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: rgba(41, 41, 41, 100%);
}







.description-container {
    display: flex;
}